@model IEnumerable<Com_Saude.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-success">
            <i class="bi bi-people-fill"></i> Lista de Pacientes
        </h2>

        <a asp-action="Create" class="btn btn-success shadow-sm px-3 rounded-pill">
            <i class="bi bi-plus-circle fs-5"></i> Novo Paciente
        </a>
    </div>

    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-0">

            <table class="table table-hover align-middle mb-0">
                <thead class="table-success">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Nascimento</th>
                        <th>CPF</th>
                        <th>Sexo</th>
                        <th class="text-center" style="width: 260px;">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Email</td>
                                <td>@item.Telefone</td>
                                <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                                <td>@item.CPF</td>
                                <td>@item.Sexo</td>

                                <td class="text-center">

                                    <a asp-action="Details" asp-route-id="@item.IdPaciente"
                                       class="btn btn-sm btn-outline-primary rounded-pill px-3 me-1 shadow-sm">
                                        <i class="bi bi-eye"></i> Detalhes
                                    </a>

                                    <a asp-action="Edit" asp-route-id="@item.IdPaciente"
                                       class="btn btn-sm btn-outline-warning rounded-pill px-3 me-1 shadow-sm">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>

                                    <a asp-action="Delete" asp-route-id="@item.IdPaciente"
                                       class="btn btn-sm btn-outline-danger rounded-pill px-3 shadow-sm">
                                        <i class="bi bi-trash"></i> Excluir
                                    </a>

                                </td>
                            </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
